/* Assistant Desktop Icon Styles */
/* Fixed position bottom-left corner */

.assistantIcon {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 4px;
  cursor: default;
  user-select: none;
  z-index: 5;
}

.iconImage {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

/* Selected icon gets darkened/tinted effect (classic Mac style) */
.selected .iconImage {
  filter: brightness(0.6) saturate(1.5);
}

.selected .iconImage svg {
  filter: brightness(0.5) sepia(1) hue-rotate(190deg) saturate(3);
}

.iconLabel {
  text-align: center;
  font-family: var(--font-geneva);
  font-size: 9px;
  line-height: 1.2;
  color: var(--black);
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  padding: 1px 2px;
  max-width: 70px;
}

/* Selected label - navy blue background, white text */
.labelSelected {
  background-color: var(--selection);
  color: var(--selection-text);
}

/* Hover state */
.assistantIcon:hover .iconLabel:not(.labelSelected) {
  background-color: rgba(0, 0, 128, 0.1);
}
